# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
APUE/apue_fctl
APUE/file_rw
APUE/temp.foo
UNP/daytimetcpcli
UNP/daytimetcpsrv
UNP/daytimetcpsrv1
UNP/tcpcli1
UNP/tcpsrv1
UNP/tcpcli11
UNP/tcpcli12
UNP/tcpsrv2

UNP/tcpsrv3
UNP/tcpsrv4
UNP/tcpcli13
