# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
APUE/apue_fctl
APUE/file_rw
APUE/temp.foo
UNP/daytimetcpcli
UNP/daytimetcpsrv
UNP/daytimetcpsrv1
UNP/tcpcli1
UNP/tcpsrv1
UNP/tcpcli11
UNP/tcpcli12
UNP/tcpsrv3
UNP/tcpsrv4
UNP/tcpcli13
UNP/errlog
UNP/tcpcli14
UNP/daytimetcpcli1
UNP/webcli
UNP/tcpcli15
UNP/tcpsrv5
UNP/tcpsrv6
UNP/mutex_example
UNP/webcli02
UNP/unp_client
UNP/unp_server01
UNP/unp_server02
UNP/unp_server03
UNP/unp_server04
